<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuitePriority</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a59da3">  <td>24/05/26 19:17:55</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestScript_Post_Priority.setup()[pri:0, instance:TestScript.TestScript_Post_Priority@2f67b837]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1088104996</td>   <td></td> </tr>
<tr bgcolor="a59da3">  <td>24/05/26 19:18:01</td>   <td>5672</td> <td>&nbsp;</td><td title="&lt;&lt;TestScript_Post_Priority.teardown()[pri:0, instance:TestScript.TestScript_Post_Priority@2f67b837]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1088104996</td>   <td></td> </tr>
<tr bgcolor="a59da3">  <td>24/05/26 19:17:55</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScript_Post_Priority.validate_post_API1()[pri:1, instance:TestScript.TestScript_Post_Priority@2f67b837]">validate_post_API1</td> 
  <td>main@1088104996</td>   <td></td> </tr>
<tr bgcolor="a59da3">  <td>24/05/26 19:17:58</td>   <td>3369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScript_Post_Priority.validate_post_API2()[pri:2, instance:TestScript.TestScript_Post_Priority@2f67b837]">validate_post_API2</td> 
  <td>main@1088104996</td>   <td></td> </tr>
<tr bgcolor="a59da3">  <td>24/05/26 19:17:59</td>   <td>4360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScript_Post_Priority.validate_post_API3()[pri:3, instance:TestScript.TestScript_Post_Priority@2f67b837]">validate_post_API3</td> 
  <td>main@1088104996</td>   <td></td> </tr>
</table>
