<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteNestedPOJO</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e47893">  <td>24/05/26 17:12:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testscript_POJO_Get_NestedJSON.validate_get()[pri:0, instance:TestScript.Testscript_POJO_Get_NestedJSON@1fc32e4f]">validate_get</td> 
  <td>main@1857173583</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/26 17:12:21</td>   <td>-30</td> <td>&nbsp;</td><td title="&gt;&gt;Testscript_POJO_Get_NestedJSON.Setup()[pri:0, instance:TestScript.Testscript_POJO_Get_NestedJSON@1fc32e4f]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857173583</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/26 17:12:26</td>   <td>5627</td> <td>&nbsp;</td><td title="&lt;&lt;Testscript_POJO_Get_NestedJSON.teardown()[pri:0, instance:TestScript.Testscript_POJO_Get_NestedJSON@1fc32e4f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1857173583</td>   <td></td> </tr>
</table>
