<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Series_runner_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ed6da">  <td>24/05/23 19:25:04</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_Test_script.setup()[pri:0, instance:TestScript.Delete_Test_script@1800a575]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2143571436</td>   <td></td> </tr>
<tr bgcolor="9ed6da">  <td>24/05/23 19:25:08</td>   <td>4292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_Test_script.validate_delete()[pri:0, instance:TestScript.Delete_Test_script@1800a575]">validate_delete</td> 
  <td>main@2143571436</td>   <td></td> </tr>
<tr bgcolor="61a963">  <td>24/05/23 19:25:13</td>   <td>8992</td> <td>&nbsp;</td><td title="&lt;&lt;Get_Test_Script.teardown()[pri:0, instance:TestScript.Get_Test_Script@1458ed9c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2143571436</td>   <td></td> </tr>
<tr bgcolor="61f9b0">  <td>24/05/23 19:25:04</td>   <td>19</td> <td>&nbsp;</td><td title="&gt;&gt;Put_Test_Script.setup()[pri:0, instance:TestScript.Put_Test_Script@1c93f6e1]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2143571436</td>   <td></td> </tr>
<tr bgcolor="61a963">  <td>24/05/23 19:25:04</td>   <td>12</td> <td>&nbsp;</td><td title="&gt;&gt;Get_Test_Script.Setup()[pri:0, instance:TestScript.Get_Test_Script@1458ed9c]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2143571436</td>   <td></td> </tr>
<tr bgcolor="81e361">  <td>24/05/23 19:25:11</td>   <td>7448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_Test_Script.validate_patch()[pri:0, instance:TestScript.Patch_Test_Script@10a9d961]">validate_patch</td> 
  <td>main@2143571436</td>   <td></td> </tr>
<tr bgcolor="81e361">  <td>24/05/23 19:25:13</td>   <td>9017</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_Test_Script.teardown()[pri:0, instance:TestScript.Patch_Test_Script@10a9d961]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2143571436</td>   <td></td> </tr>
<tr bgcolor="61a963">  <td>24/05/23 19:25:10</td>   <td>5592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Test_Script.validate_get()[pri:0, instance:TestScript.Get_Test_Script@1458ed9c]">validate_get</td> 
  <td>main@2143571436</td>   <td></td> </tr>
<tr bgcolor="81e361">  <td>24/05/23 19:25:04</td>   <td>15</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_Test_Script.Setup()[pri:0, instance:TestScript.Patch_Test_Script@10a9d961]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2143571436</td>   <td></td> </tr>
<tr bgcolor="ab8268">  <td>24/05/23 19:25:04</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.validate_posts()[pri:0, instance:TestScript.Post_Test_Script@21337f7b]">validate_posts</td> 
  <td>main@2143571436</td>   <td></td> </tr>
<tr bgcolor="9ed6da">  <td>24/05/23 19:25:13</td>   <td>8989</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_Test_script.teardown()[pri:0, instance:TestScript.Delete_Test_script@1800a575]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2143571436</td>   <td></td> </tr>
<tr bgcolor="61f9b0">  <td>24/05/23 19:25:07</td>   <td>3002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_Test_Script.validate_put()[pri:0, instance:TestScript.Put_Test_Script@1c93f6e1]">validate_put</td> 
  <td>main@2143571436</td>   <td></td> </tr>
<tr bgcolor="ab8268">  <td>24/05/23 19:25:04</td>   <td>18</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.Setup()[pri:0, instance:TestScript.Post_Test_Script@21337f7b]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2143571436</td>   <td></td> </tr>
<tr bgcolor="61f9b0">  <td>24/05/23 19:25:13</td>   <td>9022</td> <td>&nbsp;</td><td title="&lt;&lt;Put_Test_Script.teardown()[pri:0, instance:TestScript.Put_Test_Script@1c93f6e1]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2143571436</td>   <td></td> </tr>
<tr bgcolor="ab8268">  <td>24/05/23 19:25:13</td>   <td>9020</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:TestScript.Post_Test_Script@21337f7b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2143571436</td>   <td></td> </tr>
</table>
