<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_Parallel_Run</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9c97cb">  <td>24/05/06 22:03:38</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_Test_script.teardown()[pri:0, instance:TestScript.Delete_Test_script@14fc1f0]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/06 22:03:38</td>   <td>9</td> <td>&nbsp;</td><td title="&lt;&lt;Get_Test_Script.teardown()[pri:0, instance:TestScript.Get_Test_Script@4ae9cfc1]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="74a7d4">  <td>24/05/06 22:03:14</td>   <td>-24872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.validate()[pri:0, instance:TestScript.Post_Test_Script@1046d517]">validate</td> 
  <td>TestNG-test=Parallel_Runner-1@308889081</td>   <td></td> </tr>
<tr bgcolor="74a7d4">  <td>24/05/06 22:03:38</td>   <td>13</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:TestScript.Post_Test_Script@1046d517]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="a5f4e7">  <td>24/05/06 22:03:14</td>   <td>-24898</td> <td>&nbsp;</td><td title="&gt;&gt;Put_Test_Script.setup()[pri:0, instance:TestScript.Put_Test_Script@5a2d131d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="a5f4e7">  <td>24/05/06 22:03:38</td>   <td>16</td> <td>&nbsp;</td><td title="&lt;&lt;Put_Test_Script.teardown()[pri:0, instance:TestScript.Put_Test_Script@5a2d131d]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="9c97cb">  <td>24/05/06 22:03:14</td>   <td>-24912</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_Test_script.setup()[pri:0, instance:TestScript.Delete_Test_script@14fc1f0]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="a5f4e7">  <td>24/05/06 22:03:14</td>   <td>-24872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_Test_Script.validate()[pri:0, instance:TestScript.Put_Test_Script@5a2d131d]">validate</td> 
  <td>TestNG-test=Parallel_Runner-2@891461509</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/06 22:03:14</td>   <td>-24902</td> <td>&nbsp;</td><td title="&gt;&gt;Get_Test_Script.Setup()[pri:0, instance:TestScript.Get_Test_Script@4ae9cfc1]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="9c97cb">  <td>24/05/06 22:03:14</td>   <td>-24872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_Test_script.validate()[pri:0, instance:TestScript.Delete_Test_script@14fc1f0]">validate</td> 
  <td>TestNG-test=Parallel_Runner-3@186061555</td>   <td></td> </tr>
<tr bgcolor="74a7d4">  <td>24/05/06 22:03:14</td>   <td>-24900</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.Setup()[pri:0, instance:TestScript.Post_Test_Script@1046d517]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1097897234</td>   <td></td> </tr>
<tr bgcolor="a1bbdc">  <td>24/05/06 22:03:14</td>   <td>-24872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_Test_Script.execute()[pri:0, instance:TestScript.Patch_Test_Script@512baff6]">execute</td> 
  <td>TestNG-test=Parallel_Runner-5@1961595039</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/06 22:03:14</td>   <td>-24872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Test_Script.validate()[pri:0, instance:TestScript.Get_Test_Script@4ae9cfc1]">validate</td> 
  <td>TestNG-test=Parallel_Runner-4@1215946669</td>   <td></td> </tr>
</table>
