<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suitepojo]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ad9ce5">  <td>24/05/24 12:15:12</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestScript_POJO_Put.setup()[pri:0, instance:TestScript.TestScript_POJO_Put@625abb97]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1110195322</td>   <td></td> </tr>
<tr bgcolor="ad9ce5">  <td>24/05/24 12:15:18</td>   <td>6316</td> <td>&nbsp;</td><td title="&lt;&lt;TestScript_POJO_Put.teardown()[pri:0, instance:TestScript.TestScript_POJO_Put@625abb97]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1110195322</td>   <td></td> </tr>
<tr bgcolor="ad9ce5">  <td>24/05/24 12:15:17</td>   <td>5347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScript_POJO_Put.validate_put()[pri:0, instance:TestScript.TestScript_POJO_Put@625abb97]">validate_put</td> 
  <td>main@1110195322</td>   <td></td> </tr>
<tr bgcolor="ad9ce5">  <td>24/05/24 12:15:17</td>   <td>5347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScript_POJO_Put.validate_put()[pri:0, instance:TestScript.TestScript_POJO_Put@625abb97]">validate_put</td> 
  <td>main@1110195322</td>   <td></td> </tr>
<tr bgcolor="ad9ce5">  <td>24/05/24 12:15:17</td>   <td>5347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScript_POJO_Put.validate_put()[pri:0, instance:TestScript.TestScript_POJO_Put@625abb97]">validate_put</td> 
  <td>main@1110195322</td>   <td></td> </tr>
<tr bgcolor="ad9ce5">  <td>24/05/24 12:15:17</td>   <td>5347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScript_POJO_Put.validate_put()[pri:0, instance:TestScript.TestScript_POJO_Put@625abb97]">validate_put</td> 
  <td>main@1110195322</td>   <td></td> </tr>
<tr bgcolor="ad9ce5">  <td>24/05/24 12:15:17</td>   <td>5347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScript_POJO_Put.validate_put()[pri:0, instance:TestScript.TestScript_POJO_Put@625abb97]">validate_put</td> 
  <td>main@1110195322</td>   <td></td> </tr>
<tr bgcolor="ad9ce5">  <td>24/05/24 12:15:17</td>   <td>5347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScript_POJO_Put.validate_put()[pri:0, instance:TestScript.TestScript_POJO_Put@625abb97]">validate_put</td> 
  <td>main@1110195322</td>   <td></td> </tr>
</table>
