<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel_Test_Runer</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e47893">  <td>24/05/22 12:00:40</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:TestScript.Post_Test_Script@1fc32e4f]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@2121199924</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/22 12:00:37</td>   <td>-3045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.validate_posts()[pri:0, instance:TestScript.Post_Test_Script@1fc32e4f]">validate_posts</td> 
  <td>TestNG-tests-1@2121199924</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/22 12:00:37</td>   <td>-3093</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.Setup()[pri:0, instance:TestScript.Post_Test_Script@1fc32e4f]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@2121199924</td>   <td></td> </tr>
<tr bgcolor="7f82f3">  <td>24/05/22 12:00:37</td>   <td>-3093</td> <td>&nbsp;</td><td title="&gt;&gt;Put_Test_Script.setup()[pri:0, instance:TestScript.Put_Test_Script@7ae42ce3]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@282003944</td>   <td></td> </tr>
<tr bgcolor="7f82f3">  <td>24/05/22 12:00:37</td>   <td>-3045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_Test_Script.validate_put()[pri:0, instance:TestScript.Put_Test_Script@7ae42ce3]">validate_put</td> 
  <td>TestNG-tests-2@282003944</td>   <td></td> </tr>
<tr bgcolor="7f82f3">  <td>24/05/22 12:00:40</td>   <td>-9</td> <td>&nbsp;</td><td title="&lt;&lt;Put_Test_Script.teardown()[pri:0, instance:TestScript.Put_Test_Script@7ae42ce3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@282003944</td>   <td></td> </tr>
<tr bgcolor="83aa98">  <td>24/05/22 12:00:37</td>   <td>-3093</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_Test_script.setup()[pri:0, instance:TestScript.Delete_Test_script@602e0143]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@250112971</td>   <td></td> </tr>
<tr bgcolor="83aa98">  <td>24/05/22 12:00:40</td>   <td>-601</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_Test_script.teardown()[pri:0, instance:TestScript.Delete_Test_script@602e0143]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@250112971</td>   <td></td> </tr>
<tr bgcolor="83aa98">  <td>24/05/22 12:00:37</td>   <td>-3045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_Test_script.validate_delete()[pri:0, instance:TestScript.Delete_Test_script@602e0143]">validate_delete</td> 
  <td>TestNG-tests-3@250112971</td>   <td></td> </tr>
<tr bgcolor="c070a1">  <td>24/05/22 12:00:37</td>   <td>-3093</td> <td>&nbsp;</td><td title="&gt;&gt;Get_Test_Script.Setup()[pri:0, instance:TestScript.Get_Test_Script@c94fd30]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-4@2131960182</td>   <td></td> </tr>
<tr bgcolor="c070a1">  <td>24/05/22 12:00:37</td>   <td>-3045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Test_Script.validate_get()[pri:0, instance:TestScript.Get_Test_Script@c94fd30]">validate_get</td> 
  <td>TestNG-tests-4@2131960182</td>   <td></td> </tr>
<tr bgcolor="c070a1">  <td>24/05/22 12:00:41</td>   <td>588</td> <td>&nbsp;</td><td title="&lt;&lt;Get_Test_Script.teardown()[pri:0, instance:TestScript.Get_Test_Script@c94fd30]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-4@2131960182</td>   <td></td> </tr>
<tr bgcolor="a2ddf3">  <td>24/05/22 12:00:40</td>   <td>-11</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_Test_Script.teardown()[pri:0, instance:TestScript.Patch_Test_Script@41e68d87]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-5@640808588</td>   <td></td> </tr>
<tr bgcolor="a2ddf3">  <td>24/05/22 12:00:37</td>   <td>-3093</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_Test_Script.Setup()[pri:0, instance:TestScript.Patch_Test_Script@41e68d87]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-5@640808588</td>   <td></td> </tr>
<tr bgcolor="a2ddf3">  <td>24/05/22 12:00:37</td>   <td>-3045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_Test_Script.validate_patch()[pri:0, instance:TestScript.Patch_Test_Script@41e68d87]">validate_patch</td> 
  <td>TestNG-tests-5@640808588</td>   <td></td> </tr>
</table>
