<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suitepatchpojo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e47893">  <td>24/05/24 12:33:15</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestScript_POJO_Patch.teardown()[pri:0, instance:TestScript.TestScript_POJO_Patch@312ab28e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@615954678</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/24 12:33:12</td>   <td>-3029</td> <td>&nbsp;</td><td title="&gt;&gt;TestScript_POJO_Patch.Setup()[pri:0, instance:TestScript.TestScript_POJO_Patch@312ab28e]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@615954678</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/24 12:33:12</td>   <td>-2996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScript_POJO_Patch.validate_patch()[pri:0, instance:TestScript.TestScript_POJO_Patch@312ab28e]">validate_patch</td> 
  <td>main@615954678</td>   <td></td> </tr>
</table>
