<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuitePractice</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9caaeb">  <td>24/05/11 06:02:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;pracitce.print5()[pri:0, instance:TestScript.pracitce@7a55af6b]">&gt;&gt;print5</td> 
<td>&nbsp;</td>  <td>main@1070157899</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/11 06:02:40</td>   <td>138</td> <td>&nbsp;</td><td title="&lt;&lt;pracitce.print2()[pri:0, instance:TestScript.pracitce@7a55af6b]">&lt;&lt;print2</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1070157899</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/11 06:02:40</td>   <td>135</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;pracitce.print4()[pri:0, instance:TestScript.pracitce@7a55af6b]">&lt;&lt;print4</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1070157899</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/11 06:02:40</td>   <td>-29</td> <td>&nbsp;</td><td title="&gt;&gt;pracitce.print1()[pri:0, instance:TestScript.pracitce@7a55af6b]">&gt;&gt;print1</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1070157899</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/11 06:02:40</td>   <td>133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;pracitce.print6()[pri:0, instance:TestScript.pracitce@7a55af6b]">&lt;&lt;print6</td> 
<td>&nbsp;</td>  <td>main@1070157899</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/11 06:02:40</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;pracitce.print3()[pri:0, instance:TestScript.pracitce@7a55af6b]">&gt;&gt;print3</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1070157899</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/11 06:02:40</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="pracitce.print(java.lang.String,java.lang.String)[pri:0, instance:TestScript.pracitce@7a55af6b]">print</td> 
  <td>main@1070157899</td>   <td></td> </tr>
</table>
