<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suitepojo</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e47893">  <td>24/05/24 16:18:24</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TestScript_POJO_Put.teardown()[pri:0, instance:TestScript.TestScript_POJO_Put@312ab28e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@615954678</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/24 16:18:21</td>   <td>-3204</td> <td>&nbsp;</td><td title="&gt;&gt;TestScript_POJO_Put.setup()[pri:0, instance:TestScript.TestScript_POJO_Put@312ab28e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@615954678</td>   <td></td> </tr>
<tr bgcolor="e47893">  <td>24/05/24 16:18:21</td>   <td>-3174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScript_POJO_Put.validate_put()[pri:0, instance:TestScript.TestScript_POJO_Put@312ab28e]">validate_put</td> 
  <td>main@615954678</td>   <td></td> </tr>
</table>
